QWidget {
    background-color: #fdfdfd;
    color: #000000;
    font-family: "Microsoft YaHei";
}
QPushButton {
    background-color: #e0e0e0;
    padding: 6px;
    border-radius: 4px;
}
QPushButton:hover {
    background-color: #d0d0d0;
}